html,
body {
  background-color: $color-background;
  color: $color-text-primary;
  font-family: $font-family;
  * {
    margin: unset;
  }
}

hr {
  border: 1px solid $color-outline-light;
  margin: 20px 10px;
}

.btn {
  border-radius: $border-radius;
  height: 40px;
  min-width: 30px;
  padding-inline: 20px;
  font-size: $font-size-p;
  letter-spacing: 1.25px;
  border: unset;
  background-color: inherit;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    filter: $filter-active;
  }
}

.btn-primary {
  background-color: $color-primary;
  color: $color-text-tertiary;
}

.btn-secondary {
  border: 1px solid $color-secondary;
  color: $color-text-primary;
  &:hover {
    background-color: $color-secondary;
  }
}
