@import "@/assets/scss/variables.scss";

@font-face {
    font-family: 'Lato';
    src: url('@/assets/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    src: url('@/assets/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Lato';
    src: url('@/assets/fonts/Lato-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('@/assets/fonts/Lato-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('@/assets/fonts/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('@/assets/fonts/Lato-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

h1 {
    font-size: $font-size-h1;
}
h2 {
    font-size: $font-size-h2;
}
h3 {
    font-size: $font-size-h3;
}
h4 {
    font-size: $font-size-h4;
}
h5 {
    font-size: $font-size-h5;
}
h6 {
    font-size: $font-size-h6;
}
p {
    font-size: $font-size-p;
}
a {
    color: $color-text-primary;
    text-decoration: none;
    &:hover {
        backdrop-filter: $filter-active;
    }
}

