$color-primary: #ed135d;
$color-secondary: #287695;
$color-outline-light: #cdcccc;
$color-background: #ffffff;
$color-white: #ffffff;
$color-black: #000000;
$color-text-primary: #010101;
$color-text-secondary: #5c5c5c;
$color-text-tertiary: #ffffff;
$filter-active: brightness(1.2);

$font-family: 'Lato', sans-serif;
$font-size-h1: 75px;
$font-size-h2: 60px;
$font-size-h3: 50px;
$font-size-h4: 40px;
$font-size-h5: 30px;
$font-size-h6: 20px;
$font-size-p: 18px;

$border-radius: 10px;
